h1, h2, h3, h4 {
    text-transform: uppercase;
}
.logo {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
.logo img {
    max-width: 100%;
    width: 300px;
    height: auto;
}
#main_search {
    width: 100%;
}

#main_search > #search_toggle_button {
    display: block;
    width: 100%;
    border-bottom: 1px solid #CCC;
    text-align: center;
    height: 9px;
    position: relative;
}

#main_search > #search_toggle_button > span {
    background: #FFF;
    padding: 5px 7px;
    border: 1px solid #CCC;
    position: absolute;
    bottom: -16px;
    display: inline-flex;
    text-align: center;
    height: 26px;
    left: calc(50% - 13px);
}

#main_search > #search_toggle_button.collapsed > span:nth-child(2) {
    display: none
}

#main_search > #search_toggle_button:not(.collapsed) {
    display: none;
}

#main_search > #search_toggle_button:not(.collapsed) > span:nth-child(1) {
    display: none
}

#main_search > #search_toggle > .form-group .input {
    padding: 6px 0;
    width: 34px;
    text-align: center;
    border: none;
    font-size: 10px;
    line-height: 25px;
    box-sizing: border-box;
}
#main_search > #search_toggle > .form-group .input,
#main_search > #search_toggle > .form-group button {
    height: 34px;
    margin-bottom: 10px;
}
#main_search > #search_toggle > .form-group:last-child {
    margin-bottom: 0;
}

#main_search > #search_toggle > .form-group { display: block; float: left; padding: 0 2px;}

.ajax_modal.todo-tasks-item.evento-item {
    text-align: left;
}
.evento-item {
    background: #333;
    padding: 10px !important;
}
.evento-item > h4 {
    color: #FFF !important;
    text-transform: uppercase;
}
.evento-item > div {
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
} 
.evento-item > .caracteristicasLista {
    margin-top: 10px;
}
.todo-container .todo-head {
    overflow: auto;
}
.todo-container #resultados {
    text-align: center;
    line-height: 32px;
}

body #contenido-main > div {
    padding-bottom: 80px;
}
input.form-control,
select.form-control,
textarea.form-control,
.bootstrap-select.form-control button {
    background-color: #333 !important;
    border: none;
    color:#FFF;
}
.dropdown-menu.open,
.dropdown-menu.inner {
    background: #222;
    color:#FFF;
}
.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a{
    background: #444;
    color: #FFF;
}
.dropdown-menu>li>a {
    color: #CCC;
}
.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    left: -14px;
    top: -8px;
    border-radius: 14px !important;
    border: none;
    background: #303030;
    box-shadow: initial;
}
.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
    display: none;
}
.noUi-connect {
    background: #FFCC00;
    box-shadow: initial;
}

.mas-filtros-mejor {
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
}

.input-group-addon {
    color: #FFF;
    font-weight: 700;
    background-color: #999999 /* gris */;
}
.add-premio {
    background: #FFCC00 !important /*#amarillo*/;
    font-weight: bold;
    line-height: 25px;
}

.add-row, .rem-row, .add-column, .rem-column,.form_builder_helper_add_one_more,.form_builder_helper_add_one_less  {
    background: #009ADA !important /*#celeste*/;
    color:#FFF !important;
}

.terminos-condiciones {
    background: #FFCC00 !important /*#amarillo*/;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 25px;
}
.texto-azul {
    color: #009ADA;
}
.lista-eventos {
    border-top: 1px solid #000;
    padding-top: 20px;
}
.evento-item {
    display: block;
    margin-bottom: 21px;
    position: relative;
}
.evento-item:not(:last-child):after {
    content: "";
    left: 30px; right: 30px;
    bottom: -11px;
    margin: 0 auto;
    height: 1px;
    position: absolute;
    display: block;
    background: #000;
}

.organizadores-btn {
    text-align: center;
    width: 100%;
    display: block;
    padding: 30px 0 15px 0;
}
.icono-grande{
    font-size: 32px;
    line-height: 40px !important;
}
.logo.home_center_menu img,
.organizadores-btn img {
    max-width: 100%;
    height: auto;
    width: 300px;
}
.ordenar span {
    background: #009ADA;
    color: #FFF;
}
#filtros .filtrar{
    background: #009ADA;
    color: #FFF;
}
.ordenar .select,
.ordenar span,
#filtros .filtrar{
    height: 28px;
    padding: 6px 12px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #009ADA;
    display: inline-block;
}
.ordenar .select {
    border: 1px solid #009ADA;
    height: 28px;
    border-radius: 0 5px 5px 0 !important;
}

.centrar-vertical {
    display: flex;
    align-items: center;
}

.card .card-title,
.card .montos {
    color: #009ADA;
}
.participante {
    background: #FFF;
    color: #009ADA;
    text-transform: uppercase;
    margin: 0 0 3px 0;
    padding: 12px 6px;
}
body.app_nuevo .input-group-z:not(:first-of-type):before,
body.app_nuevo .input-group-z-element.participantes_destacados:not(:first-of-type):before,
.separador:not(:first-of-type):before {
    content: "";
    display: block;
    background: #000;
    height: 1px;
    width: 60%;
    margin: 15px auto;
}
#variantes .criterio,
#variantes .montos { display: inline-block; min-width: 200px; border-bottom: 1px solid #CCC; padding: 5px 0;}
.no-border { border: none !important;}

.premios.popup {
    border-radius: 10px !important;
    background: black;
    color: #FFF;
    max-height: calc(100% - 110px);
}
.premios.popup .input_bag-z .control-label 
{
    background: none;
}

body.app_nuevo .form-group.col-md-6.col-lg-4 ,
body.app_nuevo .form-group.col-md-6.col-lg-4  {
    margin-bottom: 10px !important;
}

.social-button:before {
    font-size: 30px !important; line-height: 60px; text-align: center;
    height: 60px; width: 60px;
    background: #444;
    color: #FFF;
    display: block;
    border-radius: 5px;
}

.social-button.fa-facebook:before {background: #3b5999;}
.social-button.fa-twitter:before {background: #55acee;}
.social-button.fa-google-plus:before {background: #dd4b39;}
.social-button.fa-whatsapp:before {background: #25d366;}

#filtros_btn {
    height: 28px;
    padding: 6px 12px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #009ADA;
    display: inline-block;
    float: initial;
    font-weight: normal;
    background: #FFF;
    text-transform: initial;
    border-radius: 0 5px 5px 0 !important;
}

.titulo-grande-liviano {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #009ADA;
    display: block;
    width: 100%;
    text-transform: uppercase;
}
.titulo-grande-pesado {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #009ADA;
    display: block;
    width: 100%;
    text-transform: uppercase;
}

label.listaicono {
    min-width: 170px;
}

body > footer {
    display: block;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background: #333;
    z-index: 999;
    text-align: center;
}

body > footer > a#publicar_evento_footer {
    display: block;
}
body > footer > div#publicar_evento_footer > .hold {
    display: inline-block;
    padding: 5px;
    margin: 0;
    overflow: auto;
}
body > footer > div#publicar_evento_footer > .hold > .organizadores-btn {
    padding: 0;
}
body > footer > div#publicar_evento_footer > .hold > .organizadores-btn > img {
    display: block;
}

a.icono-footer {
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px !important;
    text-align: center;
}

@media only screen and (min-width : 0px) and (max-width : 991px)  {
    a.icono-footer {
        height: 40px;
        width: 40px;
        line-height: 40px !important;
        text-align: center;
    }

    .icono-footer.social-button:before {
        font-size: 20px !important;
        line-height: 40px;
        text-align: center;
        height: 40px; 
        width: 40px;
        background: #444;
        color: #FFF;
        display: block;
        border-radius: 5px;
    }
    .icono-footer.organizador-button {
        font-size: 14px;
        line-height: 40px !important;
        text-align: center;
        height: 40px;
        width: auto !important;
        padding: 0 10px;
        background: #009ADA;
        color: #FFF;
        display: inline-block;
        border-radius: 5px !important;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hidden-md-up {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #main_search > #search_toggle > .form-group { width: calc((100% / 6) )}
    /* #main_search > #search_toggle > .form-group:last-child { width: 100px} */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body { width: 1200px !important; margin: 0 auto !important;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #main_search > #search_toggle > .form-group:not(.col-xs-6) { width: calc(100% / 2)}
    /* #main_search > #search_toggle > .form-group:last-child { width: 100%} */
    #filtros {display: none}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hidden-md-down { display: none;}
    .form-group {
        margin-bottom: 10px;
    }
    .todo-container #resultados h3{
        font-size: 200%;
        padding-top: 10px;
    }
    .evento-item {
        text-align: center !important;
    }
    .evento-item .event_photo {
        display: block; width: 100%; clear: both; height: auto; overflow: auto;
    }
    .evento-item .event_photo > img {
        max-width: 300px;
        max-height: 300px;
    }
    .evento-item h4 {
        padding: 20px 0 0 0;
    }
    .icono-footer {
        height: 40px!important; 
        width: 40px !important;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #main_search > #search_toggle > .form-group:not(.col-xs-6) { width: 100%}
    #main_search > #search_toggle > .form-group:last-child { width: 100%}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {    
}