.logo {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
#main_search > .form-group .input {
    padding: 6px 0;
    text-align: center;
    border: none;
    font-size: 10px;
    line-height: 25px;
    box-sizing: border-box;
}

#main_search > .form-group { display: block; float: left; padding: 0 2px;}

.todo-tasks-content.alternatefill > .todo-tasks-item:nth-child(2n) {
    /* background: #F5F5F5;*/
}

.todo-container .todo-head {
    overflow: auto;
}

body > div > .portlet.light > .portlet-body {
    margin-top: 60px;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #main_search > .form-group { width: calc((100% / 6) - (100px / 6))}
    #main_search > .form-group:last-child { width: 100px}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body { width: 1200px !important; margin: 0 auto !important;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #main_search > .form-group { width: calc(100% / 3)}
    #main_search > .form-group:last-child { width: 100%}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #main_search > .form-group { width: 100%}
    #main_search > .form-group:last-child { width: 100%}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}