.logo {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
#main_search {
    width: 100%;
}

#main_search > .form-group .input {
    padding: 6px 0;
    height: 34px;
    text-align: center;
    border: none;
    font-size: 10px;
    line-height: 25px;
    box-sizing: border-box;
}
#main_search > .form-group .input,
#main_search > .form-group button {
    height: 34px;
    margin-bottom: 10px;
}
#main_search > .form-group:last-child {
    margin-bottom: 0;
}

#main_search > .form-group { display: block; float: left; padding: 0 2px;}

.evento-item {
    background: #333;
    padding: 10px !important;
}
.evento-item > h4 {
    color: #FFF !important;
    text-transform: uppercase;
}
.evento-item > div {
    color: #FFF;
    font-size: 12px;
} 
.evento-item > .caracteristicasLista {
    margin-top: 5px;
}
.todo-container .todo-head {
    overflow: auto;
}

body > div > .portlet.light > .portlet-body {
    margin-top: 60px;
}
input.form-control,
select.form-control,
textarea.form-control,
.bootstrap-select.form-control button {
    background-color: #333 !important;
    border: none;
    color:#FFF;
}
.dropdown-menu.open,
.dropdown-menu.inner {
    background: #222;
    color:#FFF;
}
.dropdown-menu>li.active:hover>a, .dropdown-menu>li.active>a, .dropdown-menu>li:hover>a{
    background: #444;
    color: #FFF;
}
.dropdown-menu>li>a {
    color: #CCC;
}
.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    left: -14px;
    top: -6px;
    border-radius: 14px !important;
    border: none;
    background: #333;
    box-shadow: initial;
}
.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
    display: none;
}
.noUi-connect {
    background: #F1C40F;
    box-shadow: initial;
}

.mas-filtros-mejor {
    margin: 10px 0;
    display: block;
}

.input-group-addon {
    background-color: #999999 /* gris */;
}

.add-premio {
    background: #F1C40F !important /*#amarillo*/;
    font-weight: bold;
    line-height: 25px;
}

.add-row, .rem-row, .add-column, .rem-column,.form_builder_helper_add_one_more,.form_builder_helper_add_one_less  {
    background: #3ba4cf !important /*#celeste*/;
    color:#FFF !important;
}
.terminos-condiciones {
    background: #F1C40F !important /*#amarillo*/;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hidden-md-up {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #main_search > .form-group { width: calc((100% / 6) - (100px / 6))}
    #main_search > .form-group:last-child { width: 100px}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body { width: 1200px !important; margin: 0 auto !important;}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #main_search > .form-group:not(.col-xs-6) { width: calc(100% / 2)}
    #main_search > .form-group:last-child { width: 100%}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .hidden-md-down { display: none;}
    #filtros {display: none}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #main_search > .form-group:not(.col-xs-6) { width: 100%}
    #main_search > .form-group:last-child { width: 100%}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}