/* DINAMIC FORM */
  @media (min-width: 990px) {
    .logo-admin {
      max-width: 100%;
      max-height: 80%;
      margin-top: 14px;
    }
    .input-group-z {
      display: table;
      width: 100%;
    }
    .input-group-z > input,
    .input-group-z > label
    {
      display: table-cell;
    } 
    .input-group-z > label {
      text-align: center;
      background-color: #c2cad8;
    }
    .control-label {
      display: block;
      padding: 5px 0;
    }
    body:not(.admin){
      margin: 0 auto 60px auto !important;
    }
  }
  @media (max-width: 990px) {
    .logo-admin {
      max-height: 45px;
      margin-top: 10px;
    }
    .input-group-z-element { 
      margin-bottom: 3px;
    }
    .input-group-z {
      margin-bottom: 10px;
      display: block;
    }
    .input-group-z > label,
    .input-group-z > input {
      display: inline-block;
    }
    .input-group-z > label {
      width:30%;
    } 
    .input-group-z > input {
    }
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  .form-group > label:not(.checkbox-inline):not(.radio-inline) {
    font-weight: bold;
    color: #578EBE;
  }

  .input-group-z-element { min-width: 50px;}
  .input-group .form-control,
  .input-group-addon, .input-group-btn { width: auto;}

  .margintop { margin-top: 50px;}

/* TABLE WITH DIVS */
  .table.gridinput * {
    box-sizing: border-box;
    width: auto !important;
    margin: 0 !important;
  }
  .table.gridinput,
  .table.gridinput .table {
    display: table;
    background: #FFF;
  }

  .table.gridinput .table-row {
    display: table-row;
  }
  .table.gridinput .table-cell {
    display: table-cell;
    padding: 10px 10px 0 0;
    min-width: 80px;
  }

  .table.gridinput input,
  .table.gridinput a {
    padding: 5px;
    width: 100% !important;
    display: block; 
  }
    .table.gridinput a {
      margin: 10px 0 !important;
    }

.table-cell {
  vertical-align: top;
}
.table-cell textarea {
  height: 34px;
}
.nopadding {
  padding: 0;
}
.add-row, .rem-row {
  margin-top: 10px;
}

.no-gutters.first,
.no-gutters.last {
  padding-right: 0;
  padding-left: 0;
}

/* tooltip fix */
.z_tooltip {
  
}

body {
  margin-bottom: 60px !important;
}
.modal-dialog {
  padding-bottom: 60px !important;
}

.caracteristicasLista img {
  width: 30px;
  height: 30px;
}

.fitler-item {
  margin-top: 15px;
  list-style: none;
  line-height: 30px;
  position: relative;
}
.fitler-item > img {
  margin-right: 10px;
}
.fitler-item > .badge {
  position: absolute;
  left:35px;
  top:-5px;
}
.fitler-item > input {
  display: none;
}
.fitler-item > input:checked ~ label {
  font-weight: bold;
  color: #337ab7;
}

.sort {
  margin-left:15px;
}
.sort > * { 
  display: inline-block; 
  white-space:nowrap; 
  color: #000; 
  line-height: 30px;
  height: 30px !important;
  box-sizing: border-box;
}

.at-icon-wrapper:not(:hover) {
  background: initial !important;
}
.at-icon-wrapper:not(:hover) svg {
  fill: #AAA !important;
}

/* modal evento */
.ajax_modal > .modal-dialog > .modal-content {
  background: #333;
  color: #fff;
  text-align: center;
}

/* muteo label del form */
.label-text-black-regular > label > span {
  font-weight: normal;
  color: #000000;
}

/* dejo espacio para los checkboxes y radio buttons */
.control-label + .radio-inline {
  margin-left: 10px;
}

/* helper classes */
.no-background {
  background: none !important;
}

.dark-background {
  background: #333 !important;
  color: #CCC;
}

.evento-perfil-redes-sociales {
  font-size: 32px;
  line-height: 32px !important;
  color: #000;
}