/* DINAMIC FORM */
  @media (min-width: 990px) {
    .logo-admin {
      max-width: 100%;
      max-height: 80%;
      margin-top: 14px;
    }
    .input-group-z {
      display: table;
      width: 100%;
    }
    .input-group-z > input,
    .input-group-z > label
    {
      display: table-cell;
    } 
    .input-group-z > label {
      text-align: center;
      background-color: #c2cad8;
    }
    .control-label {
      display: block;
      padding: 5px 0;
    }
    body:not(.admin){
      margin: 0 auto 60px auto !important;
    }
  }
  @media (max-width: 990px) {
    .logo-admin {
      max-height: 45px;
      margin-top: 10px;
    }
    .input-group-z-element { 
      margin-bottom: 3px;
    }
    .input-group-z {
      margin-bottom: 10px;
      display: block;
    }
    .input-group-z > label,
    .input-group-z > input {
      display: inline-block;
    }
    .input-group-z > label {
      width:30%;
    }
    .form-group.col-sm-4 {
      padding-left: 0;padding-right: 0;
    }
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  .form-group > label:not(.checkbox-inline):not(.radio-inline) {
    font-weight: bold;
    color: #578EBE;
  }

  .input-group-z-element { min-width: 50px; text-align: center}
  .input-group .form-control,
  .input-group-addon, .input-group-btn { width: auto;}

  .margintop { margin-top: 50px;}

/* TABLE WITH DIVS */
  .table.gridinput * {
    box-sizing: border-box;
    width: auto !important;
    margin: 0 !important;
  }
  .table.gridinput,
  .table.gridinput .table {
    display: table;
    background: #FFF;
  }

  .table.gridinput .table-row {
    display: table-row;
  }
  .table.gridinput .table-cell {
    display: table-cell;
    padding: 10px 10px 0 0;
    min-width: 80px;
  }

  .table.gridinput input,
  .table.gridinput a {
    padding: 5px;
    width: 100% !important;
    display: block; 
  }
    .table.gridinput a {
      margin: 10px 0 !important;
    }

.table-cell {
  vertical-align: top;
}
.table-cell textarea {
  height: 34px;
}
.nopadding {
  padding: 0;
}
.add-row, .rem-row {
  margin-top: 10px;
}

.no-gutters.first,
.no-gutters.last {
  padding-right: 0;
  padding-left: 0;
}

/* tooltip fix */
html {
  height: 100%;
}
body {
  height: calc(100% - 60px);
  box-sizing: border-box;
}
body {
  margin-bottom: 60px !important;
}
.modal-dialog {
  padding-bottom: 60px !important;
}

.caracteristicasLista img {
  width: 30px;
  height: 30px;
}
div.portlet-body > div > div > div.col-md-9 > ul.todo-tasks-content.alternatefill > li > div.caracteristicasLista > img {
  margin-bottom: 5px;
}

.fitler-item {
  margin-top: 0px;
  list-style: none;
  line-height: 20px;
  position: relative;
  margin-top: 5px;
}
.fitler-item > img {
  margin-right: 10px;
}
.fitler-item > .badge {
  position: absolute;
  left:35px;
  top:-5px;
}
.fitler-item > input {
  display: none;
}
.fitler-item > input:checked ~ label {
  font-weight: bold;
  color: #337ab7;
}

.sort {
  margin-left:15px;
}
.sort > * { 
  display: inline-block; 
  white-space:nowrap; 
  color: #000; 
  line-height: 30px;
  height: 30px !important;
  box-sizing: border-box;
}

.at-icon-wrapper:not(:hover) {
  background: initial !important;
}
.at-icon-wrapper:not(:hover) svg {
  fill: #AAA !important;
}

/* modal evento */
.ajax_modal > .modal-dialog > .modal-content {
  background: #333;
  color: #fff;
  text-align: center;
}

/* muteo label del form */
.label-text-black-regular > label > span {
  font-weight: normal;
  color: #000000;
}

/* dejo espacio para los checkboxes y radio buttons */
.control-label + .radio-inline {
  margin-left: 10px;
}

/* helper classes */
.no-background {
  background: none !important;
}

.dark-background {
  background: #333 !important;
  color: #CCC;
}

.evento-perfil-redes-sociales {
  font-size: 32px;
  line-height: 32px !important;
  color: #CCC;
}
.evento-perfil-redes-sociales:hover {
  color: #FFF;  
}

.evento-perfil-redes-sociales.fa-facebook-square {color: #8b9dc3;}
.evento-perfil-redes-sociales.fa-google-plus-square {color: #dd4b39;}
.evento-perfil-redes-sociales.fa-pinterest-square {color: #cb2027;}
.evento-perfil-redes-sociales.fa-twitter-square {color: #55acee;}
.evento-perfil-redes-sociales.fa-linkedin-square {color: #007bb5;}
.evento-perfil-redes-sociales.fa-youtube-square {color: #ff0000;}
.evento-perfil-redes-sociales.fa-instagram-square {color: #e95950;}
.evento-perfil-redes-sociales.fa-tumblr-square {color: #32506d;}
.evento-perfil-redes-sociales.fa-flickr-square {color: #ff0084;}

li.ajax_modal {
  cursor: pointer;
}
.checkbox-inline:first-child, .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline { 
  /*cambio el lado del marge a la derecha para que no se abandere a la izquierda*/
  margin: 0 10px 0 0;
}

.modal-dialog > .modal-content {
  background: #000;
  border-radius: 10px !important;
  color: #FFF;
}
.modal-dialog > .modal-content > .modal-body {
  max-height: calc(100% - 120px);
  overflow: auto;
}

.modal-dialog > .modal-content > .modal-body > .evento-imagen {
  display: block;
  margin: auto;
}
.modal-dialog > .modal-content > .modal-body > .evento-imagen,
.modal-dialog > .modal-content > .modal-body > .evento-bajada,
.modal-dialog > .modal-content > .modal-body > h2.evento-titulo {
  text-align: center;
}

.ajax_modal.todo-tasks-item.evento-item{
  min-height: 93px;
}
.no-line-break {
  white-space: nowrap;
}
.clear-both {
  clear: both;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  color: #000;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 10px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
}
.card-body .card-title {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0 ;
}
.card-body p {
  margin: 0;
}
div.form-group.listaicono > label:first-child { display: block;}
label.listaicono {
  text-align: center;
  display: inline-block;
  width: 12.5%;
  min-width: 100px;
}
label.listaicono > img {
  display: block;
  margin: 0 auto;
}