@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold-webfont.eot');
  src: url('../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-BoldItalic-webfont.eot');
  src: url('../../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: 600;;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Regular-webfont.eot');
  src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Italic-webfont.eot');
  src: url('../../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-Italic-webfont.woff2') format('woff2'),
       url('../../fonts/OpenSans-Italic-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-Italic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: 400;;
  font-style: italic;
}
  
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Light-webfont.eot');
  src: url('../../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-Light-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-Light-webfont.svg#open_sansbold') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-LightItalic-webfont.eot');
  src: url('../../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
       url('../../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
       url('../../fonts/OpenSans-LightItalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: 300;;
  font-style: italic;
}