.popup {
    display: block;
    position: fixed;
    top: calc(50% - 200px);
    bottom: calc(50% - 200px);
    left: calc(10%);
    right: calc(10%);
    padding: 30px;
    background: #FFF;
    box-shadow: 0 0 20px #000;
    z-index: 99;
    overflow: auto;
}
.popup > .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}