.popup {
    display: block;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    padding: 30px;
    background: #FFF;
    box-shadow: 0 0 20px #000;
    z-index: 99;
    overflow: auto;
}
.popup > label {
    display: block;
    border-bottom: 1px solid #CCC;
    margin-bottom: 0;
}
.popup > label > .closebtn {
    float: right;
}

.popup .input_bag-z {
    max-height: 272px;
    overflow: auto;
    padding-top: 15px;
}
input[type=text].badge.badge-success {
    width: 25px !important;
    display: inline-block;
    border: none;
}
.table.gridinput {
    width: 100% !important;
    display: block;
    overflow-x: auto;
    overflow-y: visible;
}