img.event_photo {
    max-width: 100px;
    max-height: 72px;
    float: left;
    margin-right: 15px;
}
div#tabla_inscripciones {
    position: relative;
    overflow: visible;
    background: #FFF;
    color: #000;
}
div#tabla_inscripciones th {
    color: #3ba4cf /*#azul*/
}
div#tabla_inscripciones > input.move:disabled { display: none; }
div#tabla_inscripciones > input.move {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px;
    min-height: 30px;
    font-size: 10px;
    color: #000;
}
div#tabla_inscripciones > input.prev {left: -15px;}
div#tabla_inscripciones > input.next {right: -15px;}

.app_home > .col-md-12 > .portlet.light {
    margin-bottom: 60px;
}
.app_home > .col-md-12,
.app_home > .col-md-12 > .portlet.light
{
    min-height: 100%;
}

@media only screen and (min-height: 600px) {
    .home_center_menu {
        margin-top: calc(50% - 180px);
    }
}